
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#Environment /secrets
.env 
.env.local
.env.*.local

#Allure
/allure-results/
/allure-report/